<!DOCTYPE html>
{% extends "nav.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="/static/resources/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="/static/resources/jquery-2.1.4.min.js"></script>
    <script src="/static/resources/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    <title>Title</title>

    {% block css %}
    <style>
        body {
            background-color:lightgrey
        }
    </style>
    {% endblock %}
</head>
<body>
{% block mainBody %}
<div class="container" style="padding-top:20px;width:80%">
<!--    <div class="panel panel-default">-->
<!--        <div class="panel-body" style="width:100%">-->
<!--            <p style="text-align:center">为您推荐</p>-->
<!--            <p style="text-align:center">&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Recommend&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
<!--        </div>-->
<!--    </div>-->
    <h2 style="text-align:center;"><b>为您推荐</b></h2>
    <h3 style="text-align:center">------ Recommend ------</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row clearfix">
                {% for film in recommendFilms %}
                    <div class="col-sm-2 colunm" style="margin-top:20px">
                       <img src="{{film.url}}" class="img-thumbnail" alt="{{film.name}}"/>
                       <a href="{% url 'filmDetail' film.id status %}"><h4 style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;">{{film.name}}</h4></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

<!--    <div class="panel panel-default">-->
<!--        <div class="panel-body" style="width:100%">-->
<!--            <h2 style="text-align:center">电影资源</h2>-->
<!--            <h3 style="text-align:center">&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Film Resource&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h3>-->
<!--        </div>-->
<!--    </div>-->
    <h2 style="text-align:center;margin-top:50px"><b>电影资源</b></h2>
    <h3 style="text-align:center">------ Film Resource ------</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row clearfix">
                {% for film in films %}
                    <div class="col-sm-2 colunm" style="margin-top:20px">
                       <img src="{{film.url}}" class="img-thumbnail" alt="{{film.name}}"/>
                       <a href="{% url 'filmDetail' film.id status %}"><h4 style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;">{{film.name}}</h4></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<!--    <div class="panel panel-info">-->
<!--        <div class="panel-heading">-->
<!--            <h3 class="panel-title">演员资源</h3>-->
<!--        </div>-->
<!--        <div class="panel-body">-->
<!--            <ul class="nav nav-pills">-->
<!--            {% for film in films %}-->
<!--                <li><a href="#">{{film.starts}}</a></li>-->
<!--            {% endfor %}-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
</div>

{% endblock %}
</body>

<!--<script>-->
<!--    var onResize = function(){-->
<!--        $("body").css("margin-top",$(".navbar").height());-->
<!--    };-->
<!--    $(window).resize(onResize);-->
<!--    $(function(){-->
<!--        onResize();-->
<!--    });-->
<!--</script>-->
</html>

